@{
    ViewBag.Title = "About";
}
    <div>
        <h3>Diagrama de Clases</h3>
        <img src="~/img/Diagrama de Clases.jpg" />
        
    </div>
    <div>
        <h3>Diagrama de Casos de Uso</h3>
        <img src="~/img/Diagrama Casos de Uso.jpg" />
        
    </div>
    <div>
        <h3>Diagrama de Actividades</h3>
        <img src="~/img/Diagrama de Actividades.jpg" />
        
    </div>
    <div>
        <h3>Diagrama de Estados</h3>
        <img src="~/img/Diagrama de Estados.jpg" />
        

    </div>
    <div>
        <h3>Diagrama de Secuencia</h3>
        <img src="~/img/Diagrama de Secuencia.jpg" />
        
    </div>

